<header class="header">
    <img 
    src="../../../assets/images/crunchyroll-3-transparent.png"
    alt="crunchyroll-3-transparent"
    class="titleLogo" />

    <nav class="navbar">
        <ul>
            <li>Shows</li>
            <li>Manga</li>
            <li>News</li>
            <li>Games</li>
            <li>Store</li>
        </ul>
    </nav>

    <div class="search__container">
        <input type="text" placeholder="Anime, drama, etc." class="searchBar" />
        <button class="searchBtn">
            <img 
            src="../../../assets/images/Search-icon.png"
            alt="Search-icon"
            class="searchIcon" />
        </button>
    </div>
    

</header>