.header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 1% 0 0 0;
}

/* Two header section styles */
.title-nav__container,
.search-profile__container {
    width: 40%;
}
.title-nav__container {
    display: flex;
    align-items: center;
}
.search-profile__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Site title styles */
.titleLogo {
    height: 4.5vh;
}

/* Navbar styles */
.navbar {
    width: 20%;
    margin: 0 0 0 10%;
}
.navbar ul {
    display: flex;
    padding: 0;
    width: 100%;
    margin: 0;
}
.navbar li {
    list-style: none;
    margin: 0 8% 0 8%;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar a {
    color: black;
    text-decoration: none;
}
.navbar a:visited {
    color: black;
}
.navbar a:hover {
    color: #df6300;
}

/* Menu icon Styles */
.profile__container {
    width: 30%;
    margin-right: 5%;
}
.profile__container ul {
    padding: 0;
    display: flex;
}
.profile__container li {
    list-style: none;
    margin: 0;
}
.menuIcon__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menuIcon__container img {
    width: 22%;
}
.menuIcon__container p {
    margin: 0;
    font-size: .7rem;
}

/* Search bar styles */
.search__container {
    width: 25%;
    display: flex;
    border: solid 1px black;
    border-radius: 20px;
    padding: 3px 6px;
    height: 25px;
}
.searchBar {
    width: 85%;
    border: none;
    outline: none;
    border-radius: 20px;
    height: 25px;
}
.searchBtn {
    width: 15%;
    border: none;
    background-color: white;
    outline: none;
    padding: 0;
    border-radius: 20px;
    height: 25px;
}
.searchIcon {
    width: 75%;
}
