<header class="header">

    <div class="title-nav__container">
        <a routerLink="/">
            <img src="../../../assets/images/crunchyroll-3-transparent.png" alt="crunchyroll-3-transparent"
                class="titleLogo" />
        </a>


        <nav class="navbar">
            <ul>
                <li>
                    <a routerLink="/shows">Shows</a>
                </li>
                <li>
                    <a routerLink="/manga">Manga</a>
                </li>
                <li>
                    <a routerLink="/news">News</a>
                </li>
                <li>
                    <a routerLink="/games">Games</a>
                </li>
                <li>
                    <a routerLink="/store">Store</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="search-profile__container">
        <div class="profile__container">
            <ul>
                <li>
                    <div class="menuIcon__container">
                        <img src="../../../assets/images/Bookmark-icon.png" />
                        <p>Queue</p>
                    </div>
                </li>
                <li>
                    <div class="menuIcon__container">
                        <img src="../../../assets/images/Die-icon.png" />
                        <p>Random</p>
                    </div>
                </li>
                <li>
                    <div class="menuIcon__container">
                        <img src="../../../assets/images/Profile-icon.png" />
                        <p>Profile</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="search__container">
            <input type="text" placeholder="Anime, drama, etc." class="searchBar" />
            <button class="searchBtn">
                <img src="../../../assets/images/Search-icon.png" alt="Search-icon" class="searchIcon" />
            </button>
        </div>
    </div>

</header>